.background {
    background: linear-gradient(228.57deg, #323264 11.93%, #323264 57.17%, #643E72 87.46%);
    border-radius: 0px 0px 12px 12px;
    font-family: Montserrat;

    .active {
        color: #F0145A;
    }
    
    .active::after {
        background-color: #F0145A;
    }

    .active::after {
        width: 100%;
    }

    .burger>svg>path {
        stroke: white;
    }

    .intro {
        text-align: center;
        padding: 40px 30px 0 30px;
        color: white;

        .intro__title {
            margin: 28px 0;
            font-size: 30px;
        }

        &>p {
            font-size: 19px;
            margin-bottom: 28px;
            line-height: 30px;
        }

        .intro__button {
            margin-bottom: 0;
        }

        .button:hover {
            background-color: #0085FF;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        }
        .button:active {
            background-color: #006CCF;
            box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
        }

        .intro__modal-window {
            position: fixed;
            left: 0;
            right: 0;
            bottom: 0;
            top: 0;
            overflow: hidden;
            overflow-y: auto;
            -webkit-overflow-scrolling: touch;
            display: flex;
            flex-flow: column nowrap;
            justify-content: center;
            align-items: center;
            z-index: 99;
            padding: 30px 0;
            background-color: rgba(50, 50, 100, 0.7);
            visibility: hidden;

            .intro__form {
                padding: 30px;
                background-color: #F5F5FA;
                border-radius: 12px;
                min-width: 375px;
                max-width: 650px;
                height: 615px;
                box-sizing: border-box;
                opacity: 10;
    
                &>div {
                    display: flex;
                    justify-content: space-between;
                    position: relative;
    
    
                    .button-close {
                        height: 32px;
                        width: 32px;
                        cursor: pointer;
                        background-image: url('../svg/button-close.svg');
                        position: absolute;
                        right: 0;
    
                        &:hover {
                            background-color: #E6E6F0;
                            border-radius: 8px;
                        }
                    }
                }
    
                &>div>h1 {
                    margin-right: 50px;
                    display: flex;
                    flex-wrap: wrap;
                }
        
                .name {
                    width: 100%;
                    height: 56px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: white;
                    padding-left: 15px;
                    margin: 30px 0 15px 0;
                }
        
                .messege {
                    width: 100%;
                    height: 130px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: none;
                    padding: 15px 0 0 15px;
                }
        
                .contact__grey-text {
                    color: #B3B3BA;
                    font-size: 14px;
                    font-weight: 700;
                    margin: 30px 0 15px 0;
                }
        
                .contact__phone-number {
                    width: 100%;
                    height: 56px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: white;
                    padding-left: 15px;
                    margin-bottom: 15px;
                }
        
                .email {
                    width: 100%;
                    height: 56px;
                    box-sizing: border-box;
                    border-radius: 8px;
                    border: white;
                    padding-left: 15px;
                    margin-bottom: 15px;
                }
        
                .name::placeholder,
                .messege::placeholder,
                .email::placeholder,
                .contact__phone-number::placeholder {
                    color: #B3B3BA;
                }
        
                .name:focus,
                .messege:focus,
                .email:focus,
                .contact__phone-number:focus {
                    border: 1px solid #24A3FF;
                    outline: none;
                }
        
                .contact__button {
                    width: 100%;
        
                    &:hover {
                        background: #0085FF;
                        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                        border-radius: 12px;
                    }
        
                    &:active {
                        background: #006CCF;
                        box-shadow: 0px 0px 20px rgba(36, 163, 255, 0.5);
                        border-radius: 12px;
                    }
                }
        
            }
            @media (min-width: 518px) {
                .intro__form {
                    height: 579px;
                }
            }
        }
        #intro__modal-window:checked ~ .intro__modal-window {visibility: visible;}
        #intro__modal-window-close:checked ~ .intro__modal-window {visibility: hidden;}

        .intro__modal-window::-webkit-scrollbar {
            display: none;
        }

        .intro__modal-window::-moz-scrollbar {
            width: 0px;
            height: 0px;
        }
    }
    @media (min-width: 768px) and (max-width: 1439px) {
        .intro {
            padding: 60px;
        }
    }
    @media (min-width: 1440px) and (max-width: 1919px) {
        .intro {
            padding: 60px 180px;
        }
    }
    @media (min-width: 1920px) {
        .intro {
            padding: 60px 280px;
        }
    }

    .columns {
        padding: 30px;
        color: white;
        box-sizing: border-box;

        .columns__line {
            display: block;
            width: 100%;
            height: 4px;
            background-color: rgba(255, 255, 255, 0.5);
        }

        .columns__title {
            font-size: 22px;
            font-weight: 700;
            padding: 30px 0;
        }

        .columns__column {
            margin-bottom: 30px;

            .columns__list {
    
                .columns__text {
                    font-size: 18px;
                    line-height: 26px;
                    margin-bottom: 15px;
                }

                .columns__text::before {
                    content: '';
                    display: inline-block;
                    width: 6px;
                    height: 6px;
                    border-radius: 50%;
                    background: rgba(240, 20, 90, 1);
                    vertical-align: middle;
                    margin-right: 7px;
                }
            }
        }
    }   
    @media (min-width: 768px) {
        .columns {
            padding: 0 60px 30px 60px;
    
            .columns__conteiner {
                display: flex;
    
                .columns__column {
                    width: 45%;
                    flex: 1 1 auto;
                }

                .columns__column1 {
                    margin-right: 30px;
                }

                .columns__column2 {
                    margin-left: 30px;
                }
            }
        }
    }
    @media (min-width: 1440px) and (max-width: 1919px) {
        .columns {
            padding: 0 180px 60px 180px;
        }
    }
    @media (min-width: 1920px) {
        .columns {
            padding: 0 280px 60px 280px;
        }
    }
}



/*PUBLICATIONS*/
.publications {
    padding: 30px 30px 0 30px;
    margin-top: 60px;
    border-radius: 12px 12px 0 0;
    background-color: #F5F5FA;
    font-family: Montserrat;

    .publications__link {
        margin: 0 0 10px 15px; 

        &:hover {
        color: #F0145A;

            &:hover .svg {
                stroke: #F0145A;
            }  
        }
    }   

    .publications__title {
        margin: 0 0 30px 15px;
        font-size: 30px;
    }

    .publications__colmns {
        background-color: #F5F5FA;
        display: flex;
        justify-content: space-between;

        .publications__colmn {
            width: 100%;
            margin-bottom: 30px;
            background-color: #FFFFFF;
            border-radius: 8px 8px 0px 0px;

            .publications__image {
                height: 200px;
                width: 100%;
                background-position: center;
                background-size: cover;
                border-radius: 8px 8px 0px 0px;

            }

            .publications__image1 {
                background-image: url(../img/Publications/Publication-1.jpg);
            }
            .publications__image2 {
                background-image: url(../img//Publications/Publication-2.jpg);
            }
            .publications__image3 {
                background-image: url(../img/Publications/Publication-3.jpg);
            }

            .publications__info {
                padding: 30px;

                &>a:hover {
                    color: #F0145A;
                }  

                .publications__date {
                    font-size: 12px;
                    font-weight: 700;
                    color: #B3B3BA;
                    margin: 15px 0;
                }
                .publications__line {
                    width: 100%;
                    height: 4px;
                    background: #E6E6F0;
                    margin-bottom: 15px;
                }
                .publications__text {
                    font-weight: 400;
                    font-size: 14px;
                    line-height: 22px;
                }
            }
        }
        @media (min-width: 768px) and (max-width: 1023px) {
            .publications__colmn1 {
                margin-bottom: 30px;
                flex: 1 1 45%;
            }

            .publications__colmn2 {
                margin-bottom: 30px;
                flex: 1 1 45%;
            }

            .publications__colmn3 {
                width: 100%;
            }
        } 
        @media (min-width: 1024px) {
            .publications__colmn {
                margin-bottom: 0;
            }
        }
    } 
    @media (max-width: 1023px) {
        .publications__colmns {
            background-color: #F5F5FA;
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }    
    }  
}
@media (min-width: 768px) {
    .publications {
        padding: 30px 45px 0 45px;

        .publications__colmn {
            margin: 0 15px;
        }
    }
}
@media (min-width: 1920px) {
    .publications {
        padding: 30px 145px;
    }
} 